footer.footer 
    .container-fluid
        .footer-content 
            .footer-content__block
                .footer-content__text 
                    p &copy; 2018 «LoremIpsum.net» Все права защищены.
                .footer-content__list 
                    li 
                        img(src="assets/images/pay-1.svg", alt="")
                        span Qiwi wallet
                    li 
                        img(src="assets/images/pay-2.svg", alt="")
                        span Yandex Money
                    li 
                        img(src="assets/images/pay-3.svg", alt="")
                        span Web Money
            .footer-content__contacts 
                li 
                    a(href="maito:info@ipsum228.com")
                        img(src="assets/images/letter.svg", alt="") 
                        span info@ipsum228.com
                li 
                    a(href="#") 
                        img(src="assets/images/vk.svg", alt="")
                        span Мы вконтакте 
                