header.header 
    .container-fluid
        .header-content 
            a.header-content__logo(href="/") Loremipsum.
                span Net
            .header-content__menu
                .header__part.d-hid.header__toggle
                    .menu-toggle-cont
                        span.menu-toggle
                .fixed-menu#nav
                    ul.main-menu 
                        li.main-menu__item 
                            a.main-menu__link.active(href="#") Бизнес
                        li.main-menu__item 
                            a.main-menu__link(href="#") О нас
                        li.main-menu__item 
                            a.main-menu__link(href="#") Цены
                        li.main-menu__item 
                            a.main-menu__link(href="#") Оформить заказ